beautifulsoup4==4.10.0
jsonschema==4.19.2
python-dateutil==2.8.2
pytz>=2022.1
requests==2.26.0

# for original/

feedparser==6.0.8
utm==0.7.0

# for new/

python-decouple==3.5


# for v3
validataclass~=0.9.0
openpyxl~=3.1.2
